<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="showSidenav" mode="side" (opened)="log('opened')">
    <h2>Sidenav</h2>
    <button mat-raised-button color="primary" (click)="showSidenav = !showSidenav">Hide me</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <h2>Sidenav content</h2>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Show options</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">Show/Hide sidenav</button>
      <button mat-menu-item (click)="sidenav.toggle()">Toggle sidenav</button>
    </mat-menu>
    <mat-menu #subMenu="matMenu" xPosition="after" yPosition="above">
      <button mat-menu-item (click)="sidenav.open()">Show sidenav</button>
      <button mat-menu-item (click)="sidenav.close()">Hide sidenav</button>
    </mat-menu>

    <mat-divider></mat-divider>

    <button mat-fab color="primary" matTooltip="message for maxeu" matTooltipPosition="above" [matMenuTriggerFor]="secondMenu" [matMenuTriggerData]="{name: 'Maxeu', age: '18'}">
      <mat-icon>account_circle</mat-icon>
      Maxeu Message
    </button>
    <button mat-fab color="primary" matTooltip="message for kyu" matTooltipShowDelay="2000" [matMenuTriggerFor]="secondMenu" [matMenuTriggerData]="{name: 'Kyu', age: '9'}">
      <mat-icon>account_circle</mat-icon>
      Kyu Message
    </button>
    <mat-menu #secondMenu="matMenu">
      <ng-template matMenuContent let-n="name" let-a="age"> <!--Does lazy rendering-->
        <button mat-menu-item>Hello {{n}}!</button>
        <button mat-menu-item>Goodbye {{n}}!</button>
        <button mat-menu-item>Celebrate your {{a}}th BD!</button>
      </ng-template>
    </mat-menu>

    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading 1</h3>
        <p matLine>Line 1</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <p matLine>Line 2</p>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <h1>Selected Tab: {{tabRef.selectedIndex}}</h1>
    <mat-tab-group #tabRef>
      <mat-tab label="Grids">
        <div class="container" style="width: 700px;">
          <mat-grid-list cols="3" rowHeight="2:1" gutterSize="5px">  
            <!--By default the width of the tile is equal to its height or you can specify the pixels or use fit-->
            <mat-grid-tile colspan="2">Tile 1</mat-grid-tile>
            <mat-grid-tile rowspan="2">Tile 2</mat-grid-tile>
            <mat-grid-tile>Tile 3</mat-grid-tile>
            <mat-grid-tile>Tile 4</mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-tab>
      <mat-tab label="Accordion">
        <div class="container">
          <mat-accordion> <!--One at the time, if not add: multi="true"-->
            <mat-expansion-panel [expanded]="expansionPanelStep == 1" (opened)="setStep(1)">
              <mat-expansion-panel-header>
                <mat-panel-title>Title 1</mat-panel-title>
                <mat-panel-description>This is a simple discription</mat-panel-description>
              </mat-expansion-panel-header>
              <p>Hey there, this is the panel content.</p>
              <mat-action-row>
                <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="expansionPanelStep == 2" (opened)="setStep(2)">
              <mat-expansion-panel-header>
                <mat-panel-title>Title 2</mat-panel-title>
                <mat-panel-description>This is a simple discription number 2</mat-panel-description>
              </mat-expansion-panel-header>
              <p>Hey there, this is the panel content.</p>
              <mat-action-row>
                <button mat-raised-button color="primary" (click)="nextStep()">Dismiss</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="Card">
        <div class="container">
          <mat-card>
            <mat-card-title>Card Title</mat-card-title>
            <mat-card-content>
              this is the card content
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-raised-button color="primary">Okay</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>  
    </mat-tab-group>

    <mat-divider></mat-divider>

    <mat-vertical-stepper linear>
      <mat-step label="First Step" completed=false optional>
        <div class="container">
          This is the first step to complete:
          <br> <br>
          <mat-form-field appearance="standard">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Enter your name" required>
            <mat-hint>that's the hint, haha</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Topic</mat-label>
            <mat-select #select multiple>
              <mat-option (click)="(select.value.includes(undefined))? select.value = undefined : select.value = select.value">None</mat-option>
              <mat-optgroup label="Group 1">
                <mat-option value="option-1">Option 1</mat-option>
                <mat-option value="option-2">Option 2</mat-option>
              </mat-optgroup>
              <mat-optgroup label="Group 2">
                <mat-option value="option-3">Option 3</mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-hint>you selected {{select.value || 'nothing'}}</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [matDatepicker]="datePicker" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="_dateFilter">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker="matDatepicker" startView="multi-year"></mat-datepicker>
          </mat-form-field>
        </div>
        <div align="end">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Second Step" completed=false #secondStep>
        <div class="container">
          And the second one!
          <br> <br>
          <mat-slide-toggle color="primary" (change)="secondStep.completed = !secondStep.completed; openSnackBar($event.checked);">Slide to complete the 2nd step</mat-slide-toggle>
          <br>
          <mat-checkbox labelPosition="before" color="primary" (change)="openCostumSnackBar()">Check to display costume snack bar</mat-checkbox>
          <br>
          <mat-radio-group>
            <mat-radio-button value="opt.1" color="primary">Option 1</mat-radio-button>
            <mat-radio-button value="opt.2" color="primary">Option 2</mat-radio-button>
            <mat-radio-button value="opt.3" color="primary">Option 3</mat-radio-button>
          </mat-radio-group>
        </div>
        <div align="end">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Third Step">
        <div class="container">
          And the final step! * clap clap clap *
          <br> <br>
          <mat-form-field appearance="standard">
            <mat-label>Autocomplete</mat-label>
            <input type="text" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="selectDisplay">
              <mat-option *ngFor="let option of objOptions" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <br> <br>
          <mat-form-field appearance="standard">
            <mat-label>Autocomplete with search</mat-label>
            <input type="text" matInput [matAutocomplete]="auto2" [formControl]="myControl">
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>filtered: {{filteredOptions | async}}</mat-hint>
          </mat-form-field>
        </div>
        <div align="end">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

    <mat-divider></mat-divider>

    <button mat-raised-button color="primary" (click)="openDialog()">Open Dialog</button>

    <mat-divider></mat-divider>

    <cdk-virtual-scroll-viewport itemSize="50">
      <div *cdkVirtualFor="let number of numbers" class="number">
        {{number}}
      </div>
    </cdk-virtual-scroll-viewport>

    <br><br><br><br><br>
    <mat-divider></mat-divider>
  </mat-sidenav-content>
</mat-sidenav-container>